// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../lib/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../lib/bootstrap/scss/variables";
@import "../lib/bootstrap/scss/mixins";
@import "../lib/bootstrap/scss/root";

// 4. Include any optional Bootstrap CSS as needed
@import "../lib/bootstrap/scss/utilities";
@import "../lib/bootstrap/scss/reboot";
@import "../lib/bootstrap/scss/type";
@import "../lib/bootstrap/scss/images";
@import "../lib/bootstrap/scss/containers";
@import "../lib/bootstrap/scss/grid";
@import "../lib/bootstrap/scss/helpers";

// 5. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../lib/bootstrap/scss/utilities/api";

//6. Add additional custom code here
// Create your own map
$colors-personalitzats: (
  "iesmanacor": orange,
  "daw": rgb(21, 255, 0)
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $colors-personalitzats);
$theme-colors-rgb: map-merge($theme-colors-rgb, $colors-personalitzats);
$utilities-bg-colors: map-merge($utilities-bg-colors, $colors-personalitzats);
$utilities-text-colors: map-merge($utilities-text-colors, $colors-personalitzats);

// IMPORTAM TOT EL BOOTSRAP
@import "../lib/bootstrap/scss/bootstrap";

/* Empleiar mapes */

// Estils personalitzats
.iesmanacor{
    background-color: $yellow-400;
}

.margin-lr{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}